body {
    background-color: peachpuff;
    font-family: Arial, sans-serif;
}

.container {
    background-color: royalblue;
    color: white;
    padding: 20mm;
    margin: 20px auto;
    width: 200mm;
    height : 170mm;
}

h1 {
    font-weight: bold;
    text-align: center;
}
