body {
    background-color: peachpuff;
    font-family: Arial, sans-serif;
}

.container {
    background-color: royalblue;
    color: white;
    border: 10px solid peachpuff;
    padding: 30px;
    margin: 50px auto;
    width: 70%;
}

h1 {
    font-weight: bold;
    text-align: center;
}